.my_cont {
    height: fit-content;
    width: 502px;
    max-height: 402px;
    margin: auto;
    display: block;
    border: 1px solid grey;
}

.activity_inner {
    margin-left: 2%;
    margin-bottom: 5%;
    width: 75%;
    height: 60%;
    background-color: rgba(161,161,161,0.3);
    border: 1px solid grey;
    overflow: scroll;
}

.drop_before,.drop_after {
    display: inline-block;
    background-color: white;
    border: 1px dashed black;
    content: "&nbsp;";
    font-size: 1px;
}

.activity_item {
    border: 1px solid black;
    padding-left: 4%;
    padding-top: 2%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.parent_container {
    display: block;
    position: relative;
    width: 75%;
    background-color: grey;
    margin-left: 25%;
}

.activity_item:hover {
    background-color: rgba(255,255,255,0.1);
}

.activity_item_icons {
    float: right;
    margin-right: 2%;
}

.activity_icon {
    margin: auto;
}

.glyphicon:hover {
    color: royalblue;
    cursor: pointer;
}

.glyphicon-plus {
    color: green;
}

.glyphicon-minus {
    color: rgb(202, 74, 74);
}

.my_nav {
    background-color: transparent !important;
}

#new_activity {
    color: black !important;
}

hr.indicator {
    border: 1px dashed green;
    margin: 1%;
}

.my_nav > .container > .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.my_cont > .navbar {min-height:32px !important}